[flake8]
select = C,W,F,C
ignore = W503,E203
max-line-length = 100
max_complexity = 20
exclude = venv,env,.env,.venv,build/,dist/,docs/,*.egg-info,.git,.tox,.mypy_cache,.pytest_cache
format = %(path)s:%(row)d:%(col)d: %(code)s %(text)s %(text)s (https://lintlyci.github.io/Flake8Rules/rules/%(code)s.html)
